body{
	font-family: 'Work Sans', sans-serif;
	display: flex;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

#bookmarks{
	margin: auto;
	width: 100%;
	padding: 60px 0;
}

.folder{
	background: #FFFFFF;
	box-shadow: 0 10px 40px 0 rgba(0,104,195,0.10);
	padding: 40px 35px;
	max-width: 850px;
	margin: 0 auto 35px;
	width: 80%;
}

h3{
	font-weight: bold;
	font-size: 26px;
	color: #1A213A;
	margin: 0 0 20px;
	position: relative;
	
	display: flex;
	align-items: center;
}

h3 span{
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	margin-left: 10px;
	opacity: 0.3;
	transition: opacity 0.2s ease-in;
}

h3:before{
	content: "";
	display: block;
	position: absolute;
	height: 35px;
	width: 5px;
	background-color: #1A213A;
	left: -35px;
}

ul{
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

ul li{
	color: #DFE9F2;
	font-size: 20px;
	position: relative;
	padding: 10px 0px;
}

.bookmark{
	font-size: 16px;
	text-decoration: none;
	color: #1A213A;
	padding: 0 3px;
	display: inline-block;
	margin-left: -8px;
}

.bookmark:hover{
	color: #fff;
	background-color: #3120F1;
}

.remove{
	font-size: 16px;
	text-decoration: none;
	background: #1A213A;
	color: white;
	font-weight: 600;
	box-shadow: 0 5px 20px 0 rgba(80,104,209,0.38);
	position: absolute;
	display: inline-block;
	left: 0;
	top: 50%;
	padding: 8px 15px;
	transform: translate(-130%, -50%);
	opacity: 0;
	transition: all 0.2s ease-in;
}

.remove:after{
	content: "";
	display: block;
	height: 8px;
	width: 8px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(50%, -50%) rotateZ(45deg);
	background: #1A213A;
	transition: all 0.2s ease-in;
}

.remove:hover,
.remove:hover:after{
	background-color: #3120F1;
}

ul li:hover .remove{
	opacity: 1;
	transform: translate(-90%, -50%);
}

.credits a{
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 7px;
	background-color: #1A213A;
	color: #fff;
	text-decoration: none;
	border-radius: 5px 0 0 0;
}

.credits a:hover{
	background-color: #3120F1;
}

.menu{
	position: absolute;
	top: 0;
	right: 0;
}

.menu > a {
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 20px;
	overflow: hidden;
}

.menu > a span{
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	margin-right: -60px;
	opacity: 0;
	transition: margin 0.6s ease-out 0.2s, opacity 0.4s ease-out;
}

.menu > a.is-active span,
.menu > a:hover span{
	margin-right: 0;
	opacity: 1;
	transition: margin 0.8s ease-out, opacity 1s ease-out 0.4s;
}

.menu > a img{
	width: 20px;
	height: 20px;
	opacity: 0.35;
	margin-right: 10px;
	transition: all 0.6s ease-out 0.2s;
}

.menu > a.is-active img,
.menu > a:hover img{
	opacity: 0.8;
	transform:rotateZ(-165deg);
	transition: all 0.8s ease-out;
}

.settings{
	position: absolute;
	right: 30px;
	transform: translateY(10%);
	background-color: #1A213A;
	padding: 25px 20px;
	z-index: -1;
	border-radius: 5px;
	box-shadow: 0 5px 20px 0 rgba(80,104,209,0.38);
	color: #fff;
	width: 300px;
	font-size: 14px;
	line-height: 20px;
	opacity: 0;
	transition: all 0.5s ease-out;
}

.settings.is-shown{
	opacity: 1;
	z-index: 9;
	transform: translateY(0%);
}


.settings:after{
	content: "";
	display: block;
	height: 8px;
	width: 8px;
	position: absolute;
	top: 0;
	right: 40px;
	transform: translate(50%, -50%) rotateZ(45deg);
	background: #1A213A;
	transition: all 0.2s ease-in;
}

fieldset{
	border: 0;
}

legend{
	font-weight: 600;
	font-size: 16px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(80,104,209,0.38);
}

input[type="radio"]{
	margin-right: 10px;
}
	
input[type="text"]{
	margin-top: 15px;
	padding: 8px;
	font-size: 14px;
	border: 0;
}

input:focus{
	outline: none;
}

input[type="button"]{
	background-color: #3120F1;
	color: #fff;
	border: none;
	font-weight: 600;
	padding: 8px 15px;
	font-size: 14px;
	transition: all 0.2s ease-in;
	box-shadow: 0 5px 20px 0 rgba(80,104,209,0);
	backface-visibility: hidden;
}

input[type="button"]:hover{
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 0 5px 20px 0 rgba(80,104,209,0.38);
}

input[type="text"] + input[type="button"]{
	margin-left: -5px;
}

#customTab{
	width: 190px;
}